<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>
    <body>
    <section class="contenedor">
        <div class="caja row">
        <header><h1>Menú de Administrador</h1></header>
        <h5 align="center">
            <div>
                action: CREAR HABITAT
            </div>
        </h5>

        <h2 align="center">
            <div>
                Sesión de <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
            </div>
        </h2>


        <form th:action="@{/habitat}" th:object="${loggedUser}" method="post" >
            <input type="hidden" th:field="*{name}"/>
            <input type="hidden" th:field="*{lastname}"/>
            <input type="hidden" th:field="*{role}"/>


            <div class="col-12-medium">
                <div class="input-block">
                    <input type="text" name="habitatName" required />
                    <span class="placeholder">Nombre del hábitat</span>
                </div>
                <div class="input-block" style="margin-top: -10px">
                    <span class="input_placeholder_fijo">Clima</span>
                    <select name="selectedWeather">
                        <option th:each="w : ${everyWeather}" th:value="${w}" th:text="${w.name}">
                        </option>
                    </select>
                </div>
                <div class="input-block">
                    <span class="input_placeholder_fijo">Vegetación</span>
                    <select name="selectedVegetation">
                        <option th:each="v : ${everyVegetation}" th:value="${v}" th:text="${v.name}">
                        </option>
                    </select>
                </div>
                <div class="input-block">
                    <span class="input_placeholder_fijo">Continente</span>
                    <select name="selectedContinent">
                        <option th:each="c : ${everyContinent}" th:value="${c}" th:text="${c.name}">
                        </option>
                    </select>
                </div>
                <div><input class="submit_segundo_nivel" type="submit" value="Crear nuevo habitat" /></div>
            </div>
        </form>
            <form th:action="@{/home}" th:object="${loggedUser}" method="get" >
                <div class="col-12-medium">
                    <input type="hidden" th:field="${loggedUser.name}"/>
                    <input type="hidden" th:field="${loggedUser.lastname}"/>
                    <input type="hidden" th:field="${loggedUser.role}"/>

                    <input type="submit" value="Volver al home" />
                </div>
            </form>

        <!-- Scripts -->
        <script src="../../../public/assets/js/jquery.min.js"></script>
        <script src="../../../public/assets/js/browser.min.js"></script>
        <script src="../../../public/assets/js/breakpoints.min.js"></script>
        <script src="../../../public/assets/js/util.js"></script>
        <script src="../../../public/assets/js/main.js"></script>
        </div>
    </section>
    </body>
</html>
