<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>

    <body>
    <section class="contenedor">
        <div class="caja row">
        <header><h1>Menú de Administrador</h1></header>
            <h5 align="center">
                <div>
                    action: ELIMINAR HÁBITAT
                </div>
            </h5>

            <h2 align="center">
                <div>
                    Sesión de <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
                </div>
            </h2>

            <h3 align="center">
                <div>
                    Los siguientes hábitats fueron eliminados con éxito:

                    <th:block th:each="habitat : ${affectedHabitats}">
                        <li>
                            <label th:text="${habitat}"></label>
                        </li>
                    </th:block>
                </div>
            </h3>

            <form th:action="@{/home}" th:object="${loggedUser}" method="get" >
                <div class="col-12-medium">
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <input type="submit" value="Volver al home" />
                </div>
            </form>

            <!-- Scripts -->
            <script src="../../public/assets/js/jquery.min.js"></script>
            <script src="../../public/assets/js/browser.min.js"></script>
            <script src="../../public/assets/js/breakpoints.min.js"></script>
            <script src="../../public/assets/js/util.js"></script>
            <script src="../../public/assets/js/main.js"></script>
        </div>
    </section>
    </body>
</html>
