<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>

    <body>
        <section class="contenedor">
            <div class="caja row">
                <header><h1>Menú de <span th:text="${memberRole}"></span></h1></header>

        <h2 align="center">
            <div>
                Especies asignadas a <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
            </div>
        </h2>

                <!-- TODO agregar mejor diagramada la info y con etiquetas -->
                <div>
                    <th:block th:each="s : ${assignedSpecies}">
                        <li class="data_group_box">
                            <label class="data_group_box_especie" th:text="${s.spanishName}"></label>
                            <label class="data_group_box_nombrecientifico" th:text="${s.scientificName}"></label>
                            <label th:text="${s.habitat}"></label>
                            <label th:text="${s.zone}"></label>
                            <label th:text="${s.startingDate}"></label>
                        </li>
                    </th:block>
                </div>

                <form th:action="@{/home}" th:object="${loggedUser}" method="get" >
                    <div class="col-12-medium">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{lastname}"/>
                        <input type="hidden" th:field="*{role}"/>

                        <input type="submit" value="Volver al home" />
                    </div>
                </form>

                <form action="#" th:action="@{/logout}" method="get" >
                    <div class="col-12-medium">
                        <input type="submit" value="LOG OUT" />
                    </div>
                </form>
            </div>
        </section>
        <!-- Scripts -->
        <script src="../../public/assets/js/jquery.min.js"></script>
        <script src="../../public/assets/js/browser.min.js"></script>
        <script src="../../public/assets/js/breakpoints.min.js"></script>
        <script src="../../public/assets/js/util.js"></script>
        <script src="../../public/assets/js/main.js"></script>

    </body>
</html>
