<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>

    <body>
        <section class="contenedor">
            <div class="caja row">
                <header><h1>Menú de <span th:text="${memberRole}"></span></h1></header>

        <h2 align="center">
            <div>
                Sesión de <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
            </div>
        </h2>
<div class="data_group_box">
                <div>
                    <b>Nombre de usuario:</b> <i th:text="${member.username}"></i>
                </div>
                <div>
                    <b>Nombre:</b> <i th:text="${member.name}"></i>
                </div>
                <div>
                    <b>Apellido:</b> <i th:text="${member.lastname}"></i>
                </div>
                <div>
                    <b>Rol:</b> <i th:text="${memberRole}"></i>
                </div>
                <div>
                    <b>Dirección:</b> <i th:text="${member.address}"></i>
                </div>
                <div>
                    <b>Teléfono:</b> <i th:text="${member.phone}"></i>
                </div>
                <div>
                    <b>Fecha de comienzo:</b> <i th:text="${member.hiringDate}"></i>
                </div>
</div>
                <form th:action="@{/home}" th:object="${loggedUser}" method="get" >
                    <div class="col-12-medium">
                        <input type="hidden" th:field="*{name}"/>
                        <input type="hidden" th:field="*{lastname}"/>
                        <input type="hidden" th:field="*{role}"/>

                        <input type="submit" value="Volver al home" />
                    </div>
                </form>

                <form action="#" th:action="@{/logout}" method="get" >
                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="LOG OUT" />
                    </div>
                </form>
            </div>
        </section>
        <!-- Scripts -->
        <script src="../../public/assets/js/jquery.min.js"></script>
        <script src="../../public/assets/js/browser.min.js"></script>
        <script src="../../public/assets/js/breakpoints.min.js"></script>
        <script src="../../public/assets/js/util.js"></script>
        <script src="../../public/assets/js/main.js"></script>

    </body>
</html>
