<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Temaiken</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>

<body>
    <section class="contenedor">
        <div class="caja row">
            <header>
                <h1>Menú de Administrador</h1>
            </header>
            <h5 align="center">
                <div>
                    action: DAR DE ALTA
                </div>
            </h5>

            <h2 align="center">
                <div>
                    Sesión de <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
                </div>
            </h2>


            <form th:action="@{/payroll/tour-guide}" th:object="${loggedUser}" method="post">
                <input type="hidden" th:field="*{name}" />
                <input type="hidden" th:field="*{lastname}" />
                <input type="hidden" th:field="*{role}" />

                <div class="row">
                    <div class="input-block">
                        <input type="text" name="username" required />
                        <span class="placeholder">Nombre de usuario</span>
                    </div>
                    <div class="input-block">
                        <input type="text" name="password" required />
                        <span class="placeholder">Password</span>
                    </div>
                    <div class="input-block">
                        <input type="text" name="name" required />
                        <span class="placeholder">Nombre</span>
                    </div>
                    <div class="input-block">
                        <input type="text" name="lastname" required />
                        <span class="placeholder">Apellido</span>
                    </div>
                    <div class="input-block">
                        <input type="text" name="address" required />
                        <span class="placeholder">Dirección</span>
                    </div>
                    <div class="input-block">
                        <input type="text" name="phone" required />
                        <span class="placeholder">Teléfono</span>
                    </div>
                    <input class="submit_segundo_nivel" type="submit" value="Enviar" />
                </div>
                <!-- V2: Agregar retipeo del password y validación en front de password correcto -->
            </form>

        </div>
    </section>

    <!-- Scripts -->
    <script src="../../../public/assets/js/jquery.min.js"></script>
    <script src="../../../public/assets/js/browser.min.js"></script>
    <script src="../../../public/assets/js/breakpoints.min.js"></script>
    <script src="../../../public/assets/js/util.js"></script>
    <script src="../../../public/assets/js/main.js"></script>

</body>

</html>