<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />

    </head>

    <body>
    <section class="contenedor">
        <div class="caja row">
        <header><h1>Menú de Administrador</h1></header>
        <h5 align="center">
            <div>
                action: CREAR ITINERARIO
            </div>
        </h5>

        <h2 align="center">
            <div>
                Sesión de <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
            </div>
        </h2>


        <form th:action="@{/itineraries}" th:object="${loggedUser}" method="post" >
            <input type="hidden" th:field="*{name}"/>
            <input type="hidden" th:field="*{lastname}"/>
            <input type="hidden" th:field="*{role}"/>


            <div class="col-12-medium">
                <div class="input-block">
                    <input type="text" name="code" required />
                    <span class="placeholder">Código del itinerario</span>
                </div>
                <div class="input-block">
                    <input type="number" min="10" step="1" name="duration" required />
                    <span class="placeholder">Duración en minutos</span>
                </div>
                <div class="input-block">
                    <input type="number" min="0.05" step="0.01" name="longitude" required />
                    <span class="placeholder">Longitud en kilómetros</span>
                </div>
                <div class="input-block">
                    <input type="number" min="1" step="1" name="maxVisitorsAmount" required />
                    <span class="placeholder">Cant. máx. de visitantes</span>
                </div>
                <div class="input-block" style="margin-top: -10px">
                    <span class="input_placeholder_fijo">Día y hora en la que comienza</span>
                    <input type="datetime-local" name="startsAt" required />
                </div>

                <div>
                    <div>Seleccione las especies asociadas al itinerario</div>
                    <th:block th:each="as : ${allActiveSpecies}">
                        <li style="display: inline; margin-right: 10px;">
                            <input type="checkbox" name="species" th:value="${as.id}">
                            <label th:text="${as.spanishName}"></label>
                        </li>
                    </th:block>
                </div>

                <div>
                    <div>Seleccione las zonas asociadas al itinerario</div>
                    <th:block th:each="az : ${allActiveZones}">
                        <li style="display: inline; margin-right: 10px;">
                            <input type="checkbox" name="zones" th:value="${az.id}">
                            <label th:text="${az.name}"></label>
                        </li>
                    </th:block>
                </div>

                <div><input class="submit_segundo_nivel" type="submit" value="Crear nuevo itinerario" /></div>
            </div>
        </form>
            <form th:action="@{/home}" th:object="${loggedUser}" method="get" >
                <div class="col-12-medium">
                    <input type="hidden" th:field="${loggedUser.name}"/>
                    <input type="hidden" th:field="${loggedUser.lastname}"/>
                    <input type="hidden" th:field="${loggedUser.role}"/>

                    <input type="submit" value="Volver al home" />
                </div>
            </form>

        <!-- Scripts -->
        <script src="../../../public/assets/js/jquery.min.js"></script>
        <script src="../../../public/assets/js/browser.min.js"></script>
        <script src="../../../public/assets/js/breakpoints.min.js"></script>
        <script src="../../../public/assets/js/util.js"></script>
        <script src="../../../public/assets/js/main.js"></script>
        </div>
    </section>
    </body>
</html>
