/* 
    Author     : bianca
*/

@import url(https://fonts.googleapis.com/css?family=Barrio);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,500);

/* Estilo global */


body {
	margin: 0;
	font-family: 'Lato', sans-serif;
  /* background: url(https://images.pexels.com/photos/158780/leaf-nature-green-spring-158780.jpeg);*/
  /* background: linear-gradient(to bottom, rgb(0 161 3 / 66%), rgb(25 54 12 / 81%)), url(../img/fondo.jpg);*/
  background: linear-gradient(to bottom, rgb(0 168 34 / 53%), rgb(3 6 1 / 70%)), url(../img/fondo_2.jpg);
  height: 100vh;
  
}


.contenedor{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.caja{
	background: url(../img/madera.JPG);
    padding: 82px;
    border: #b18e64ad 13px solid;
    border-radius: 50px;
    box-shadow: 0px 0px 150px 16px #000000c9;
}

.row{
	display: flex;
	flex-direction: column;
	align-items: center;
}


h1{
    font-family: "Montserrat",sans-serif;
    font-size: 38px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
	background-color: #9f6521;
    color: transparent;
    text-shadow: 2px 2px 3px rgb(255 245 218 / 45%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 0px;
}

section {
padding: 0 20%;
}


input, select{
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background: #ffffffbd;
	border: none;
	font-family: 'Montserrat';
	font-size: 15px;
	transition: 1s;
	-webkit-transition: 1s;
	color:#99734b;
	}
	
	input:hover, select:hover{
		background-color: #FFF;
		box-shadow: 0 0 19pt 2pt #ffffff;
	}


div.input-block {
	position: relative;
}


div.input-block input{
	margin-bottom: 20px;
}
div.input-block span.placeholder {
	border: none;
	font-family: 'Montserrat';
	font-size: 15px;
	position: absolute;
	color: #99734b;
	display: flex;
	align-items: center;
	top: 10px;
	left: 11px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
	transform: scale(0.8) translateY(-30px);
	font-size: small;
	font-weight: 300;
	color: #99734b;
}

div.input-block input:focus + span.placeholder {
	color: #99734b;
}

.input_placeholder_fijo{
	font-size: 10px;
	margin-left: 11px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #99734b;
	display: block;
}


input[type=submit] {
	margin-top: 20px;
	padding: 10px 25px;
	font-size: 20px;
		background-color: #cb5d25a8;
		color: bisque;
		font-family: 'Montserrat';
		font-size: 18px;
		background: linear-gradient(to bottom, rgb(189 120 52 / 59%), rgb(70 35 0 / 67%)), url(../img/madera.jpg);
		box-shadow: 1px 3px 2px 0px #0000002e;
}

input[type=submit]:hover{
		color:#FFF;
		background-color: #d87d40;
		box-shadow: 0 0 19pt 2pt #ffffff;
}
	
input.submit_segundo_nivel{
	background: linear-gradient(to bottom, rgb(143 57 6 / 60%), rgb(44 19 0 / 75%)), url(../img/madera.jpg);
	margin-top: 0px;
	margin-bottom: 15px;
}


li{list-style-type: none;}


.data_group_box{
	background: linear-gradient(to bottom, rgb(189 120 52 / 36%), rgb(109 54 0 / 48%)), url(../img/madera.jpg);
	border-radius: 25px;
	margin-bottom: 14px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 8px 0px #0000005c;
}

.data_group_box_especie{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
.data_group_box_nombrecientifico{
	font-style: italic;
	font-size: 14px;
	text-align: center;
	padding-bottom: 15px;
}


hr{
	border: 0;
	height: 2px;
	width: 200px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(162 99 42), rgba(0, 0, 0, 0));
	margin-bottom: 14px;
	margin-top: 2px;
}


/* Login - Home */

.bloque_login{
	display: flex;
	padding: 148px 113px 98px 121px;
	border-radius: 25px;
	height: fit-content;
	width: fit-content;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	flex-direction: column;
	background: url(../img/tronco_v2.png);
background-size: cover;
animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari y Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari y Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#logo{
    position: fixed;
    bottom: 40px;
    width: 100%;
    left: 50%;
    margin-left: -81px;
	animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

.titulo_login {
	color: #fff2dc;
	text-shadow: 0px 0px 20px #401401;
	font-family: "Montserrat",sans-serif;
	font-size: 38px;
	font-weight: 900;
	text-transform: uppercase;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
	}


