<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ERROR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>

<body>
    <section class="contenedor">
        <div class="caja row" style="border: #741414a3 13px solid;">
            <h1>ERROR</h1>
        </div>
    </section>
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/browser.min.js"></script>
    <script src="../public/assets/js/breakpoints.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <script src="../public/assets/js/main.js"></script>

</body>

</html>