<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Temaiken</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
    <link rel="stylesheet"  th:href="@{/css/estilo.css}" />
</head>

<body>
    <div class="contenedor">
        <div class="bloque_login">
            <h1 class="titulo_login">Bienvenido</h1>

            <form th:action="@{/login}" method="post">
                <div class="row">
                    <input type="text" name="username" placeholder="Usuario" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <input id="submit" type="submit" value="Entrar" />
                </div>
            </form>
        </div>
    </div>
    <div id="logo"><img src="https://www.temaiken.org.ar/dist/img/temaiken-bioparque.svg" alt=""></div>

    <!-- Scripts -->
    <script src="../public/assets/js/jquery.min.js"></script>
    <script src="../public/assets/js/browser.min.js"></script>
    <script src="../public/assets/js/breakpoints.min.js"></script>
    <script src="../public/assets/js/util.js"></script>
    <script src="../public/assets/js/main.js"></script>

</body>

</html>