<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>

    <body>
    <section class="contenedor">
        <div class="caja row">
        <header><h1>Menú de Administrador</h1></header>
        <h5>
            <div>
                action: ASIGNAR ESPECIE A CIUDADOR
            </div>
        </h5>

        <h2>
            <div>
                Sesión de <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
            </div>
        </h2>


        <form th:action="@{/assignment/zookeeper}" th:object="${loggedUser}" method="post" >
            <input type="hidden" th:field="*{name}"/>
            <input type="hidden" th:field="*{lastname}"/>
            <input type="hidden" th:field="*{role}"/>


            <div class="col-12-medium">
                <div>
                    Asignar la especie
                    <select name="selectedSpecies">
                        <option th:each="as : ${allActiveSpecies}" th:value="${as}"
                                th:text="${as.spanishName}">
                        </option>
                    </select>
                     al cuidador
                    <select name="selectedZookeeper">
                        <option th:each="az : ${allActiveZookeepers}" th:value="${az}" th:text="${az.name}">
                        </option>
                    </select>
                </div>
                <div><input class="submit_segundo_nivel" type="submit" value="Asignar especie a CUIDADOR" /></div>
            </div>
        </form>
            <form th:action="@{/home}" th:object="${loggedUser}" method="get" >
                <div class="col-12-medium">
                    <input type="hidden" th:field="${loggedUser.name}"/>
                    <input type="hidden" th:field="${loggedUser.lastname}"/>
                    <input type="hidden" th:field="${loggedUser.role}"/>

                    <input type="submit" value="Volver al home" />
                </div>
            </form>

        <!-- Scripts -->
        <script src="../../../public/assets/js/jquery.min.js"></script>
        <script src="../../../public/assets/js/browser.min.js"></script>
        <script src="../../../public/assets/js/breakpoints.min.js"></script>
        <script src="../../../public/assets/js/util.js"></script>
        <script src="../../../public/assets/js/main.js"></script>
        </div>
    </section>
    </body>
</html>
