<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <link rel="icon" type="image/x-icon" th:src="@{/img/favicon.ico}">
            <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>

    <body>
        <section class="contenedor">
            <div class="caja row">
                <header><h1>Menú de Administrador</h1></header>

                <h2 align="center">
                    <div>
                        Bienvenido <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
                    </div>
                </h2>


                <form action="#" th:action="@{/payroll}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div>
                        <input class="submit_segundo_nivel" type="submit" value="Dar de alta nuevo miembro" />
                    </div>
                </form>

                <form action="#" th:action="@{/payroll/deactivation}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div>
                        <input class="submit_segundo_nivel" type="submit" value="Dar de baja miembro existente" />
                    </div>
                </form>
                <hr>
                <form action="#" th:action="@{/zone}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div>
                        <input class="submit_segundo_nivel" type="submit" value="Crear nueva zona" />
                    </div>
                </form>


                <form action="#" th:action="@{/zone/delete}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Eliminar zona existente" />
                    </div>
                </form>
                <hr>
                <form action="#" th:action="@{/habitat}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Crear un nuevo hábitat" />
                    </div>
                </form>

                <form action="#" th:action="@{/habitat/delete}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Eliminar un hábitat existente" />
                    </div>
                </form>
                <hr>
                <form action="#" th:action="@{/species}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Cargar nueva especie" />
                    </div>
                </form>

                <form action="#" th:action="@{/species/delete}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Eliminar especie existente" />
                    </div>
                </form>
                <hr>
                <form action="#" th:action="@{/itineraries}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Crear nuevo itinerario" />
                    </div>
                </form>
                <hr>
                <form action="#" th:action="@{/assignment/zookeeper}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Asignar especie a CUIDADOR" />
                    </div>
                </form>

                <form action="#" th:action="@{/assignment/tour-guide}" th:object="${loggedUser}" method="get" >
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{lastname}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <div class="col-12-medium">
                        <input class="submit_segundo_nivel" type="submit" value="Asignar itinerario a GUÍA" />
                    </div>
                </form>

                <form action="#" th:action="@{/logout}" method="get" >
                    <div>
                        <input type="submit" value="LOG OUT" />
                    </div>
                </form>
            </div>
        </section>

                <!-- Scripts -->
                <script src="../../public/assets/js/jquery.min.js"></script>
                <script src="../../public/assets/js/browser.min.js"></script>
                <script src="../../public/assets/js/breakpoints.min.js"></script>
                <script src="../../public/assets/js/util.js"></script>
                <script src="../../public/assets/js/main.js"></script>

    </body>
</html>
