<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Temaiken</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="icon" type="image/x-icon"  th:src="@{/img/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/estilo.css}" />
    </head>

    <body>
        <section class="contenedor">
            <div class="caja row">
                <header><h1>Menú de Visitante</h1></header>
                <h1>VISITOR PAGE</h1>

        <h2 align="center">
            <div>
                Bienvenido <i th:text="${loggedUser.name}"></i> <i th:text="${loggedUser.lastname}"></i>
            </div>
        </h2>

        <form action="#" th:action="@{/logout}" method="get" >
            <div class="col-12-medium">
                <input class="submit_segundo_nivel" type="submit" value="LOG OUT" />
            </div>
        </form>
    </div>
</section>

        <!-- Scripts -->
        <script src="../../public/assets/js/jquery.min.js"></script>
        <script src="../../public/assets/js/browser.min.js"></script>
        <script src="../../public/assets/js/breakpoints.min.js"></script>
        <script src="../../public/assets/js/util.js"></script>
        <script src="../../public/assets/js/main.js"></script>

    </body>
</html>
